<table>
  <thead>
    <th>Id</th>
    <th>Gender Code </th>
    <th>Gender Name </th>
  </thead>
  <tbody>
    <% @mgender.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= c.gender_cd %></td>
        <td><%= c.gender_name %></td>
        <td><%= link_to 'Edit', edit_m_gender_path(id: c.id) %></td>
        <td><%= button_to 'Delete', m_gender_path(id: c.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New", new_m_gender_path %>