<table>
  <thead>
    <th>Id</th>
    <th>User Id </th>
    <th>Mail Id</th>
    <th>Psssword</th>
    <th>M Company Id</th>
  </thead>
  <tbody>
    <% @muser.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= c.user_id %></td>
        <td><%= c.mail_id %></td>
        <td><%= c.password %></td>
        <td><%= c.m_company_id %></td>
        <td><%= link_to 'Edit', edit_m_user_path(id: c.id) %></td>
        <td><%= button_to 'Delete', m_user_path(id: c.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New", new_m_user_path %>