<table>
  <thead>
    <th>Id</th>
    <th>Role Name </th>
  </thead>
  <tbody>
    <% @mrole.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= c.role_name %></td>
        <td><%= link_to 'Edit', edit_m_role_path(id: c.id) %></td>
        <td><%= button_to 'Delete', m_role_path(id: c.id), method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New", new_m_role_path %>