<table>
  <thead>
    <th>Id</th>
    <th>Company Code</th>
    <th>Company Name</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>Email Id </th>
    <th>Contact no</th>
  </thead>
  <tbody>
    <% @mcompany.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= c.company_cd %></td>
        <td><%= c.company_name %></td>
        <td><%= c.address1 %></td>
        <td><%= c.address2 %></td>
        <td><%= c.email_id %></td>
        <td><%= c.contact_no %></td>
        <td><%= link_to 'Edit', edit_m_company_path(@mcompany) %></td>
        <td><%#= link_to 'Delete', @mcompany, method: :delete, data: {confirm: 'Are you sure you want to delete this '} %></td>
      </tr>
    <% end %>
  </tbody>
</table>